@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #382e21 url('bg.jpg') center fixed;
    background-size: cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0e0500; 
}

body::before{
    content: "";
    position:absolute;
    inset: 0;
    background-color: #2c1800a0; 
    opacity: 0.6;
    z-index: -1;
}

.container {
    width: 100%;
    max-width: 480px;
    padding: 30px 40px;
    background-color: #b58d5c; 
    border-radius: 15px; 
    color: #0e0500;
    
    box-shadow: 
        0 30px 60px rgba(0, 0, 0, 0.8), 
        inset 0 0 15px rgba(0, 0, 0, 0.2);
}


.title {
    font-size: 30px;
    font-weight: 700;
    color: #0e0500; 
    margin-bottom: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-shadow: 
    1px 1px 0 rgba(255, 255, 255, 0.5), 
    -1px -1px 0 rgba(0, 0, 0, 0.4); 
}

.title img {
    width: 70px;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-top: 20px;
}


input {
    width: 100%;
    padding: 12px 15px;
    background: #A97A57; 
    border: none; 
    border-radius: 8px;
    font-size: 15px;
    color: #FFFFFF;
    
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8), 
                inset 0 -2px 5px rgba(255, 255, 255, 0.2);
}

input::placeholder {
    color: #7c6140;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); 
}

button {
    width: 70%;
    max-width: 300px;
    padding: 14px 25px;
    background: #A97A57;
    border: none;
    border-radius: 50px; 
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    align-self: center;
    transition: 0.2s;
    
    box-shadow: 
    0 5px 0 #9A5938, 
    0 10px 15px rgba(0, 0, 0, 0.6); 
}

button:hover {
    background: #9A5938;
    transform: translateY(3px); 
    box-shadow: 
    0 2px 0 #9A5938, 
    0 5px 8px rgba(0, 0, 0, 0.6);
}


.forgot {
    text-align: center; 
    font-size: 14px;
    opacity: 0.8;
}

a {
    color: #0e0500;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}